
{volist name="headmenues"  id="vo"}
	<li class="layui-nav-item showNotice" pc>
	<a href="{$vo['link_url']}"><i class="iconfont icon-gonggao"></i><cite>{$vo['name']}</cite></a>
	</li>
{/volist}

<!-- <li class="layui-nav-item showNotice" id="showNotice" pc>
	<a href="javascript:;"><i class="iconfont icon-gonggao"></i><cite>系统公告</cite></a>
</li>
<li class="layui-nav-item showNotice" id="showNotice" pc>
	<a href="javascript:;"><i class="iconfont icon-gonggao"></i><cite>系统公告</cite></a>
</li>
<li class="layui-nav-item showNotice" id="showNotice" pc>
	<a href="javascript:;"><i class="iconfont icon-gonggao"></i><cite>系统公告</cite></a>
</li> -->