{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
	<title>无访问权限</title>
	<link rel="stylesheet" href="/static/admin/css/noaccess.css">

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		

</head>
<body>
	<div class="main">
		<div class="agile">
			<div class="w3l">
				<div class="text">
					<h1>Access Deny!</h1>	
					
					<p>暂无访问权限，请联系管理员赋予权限！</p>
				</div>
				<div class="image">
					<img src="/static/admin/images/smile.png">
				</div>
				<div class="clear"></div>
			</div>

			<div class="wthree">
					<div class="back">
						<a href="{:url('admin/Userlogin/login')}">返回登陆页</a>
					</div>
					<div class="social-icons w3agile">
						<ul>
							<li>更多去向选择:</li>
							<li><a href="http://www.baidu.com" style="color:#ffffff;">百度</a></li>
							<li><a href="http://www.taobao.com" style="color:#ffffff;">淘宝</a></li>
							<div class="clear"></div>
						</ul>	
					</div>
					<div class="clear"></div>
			</div>

		</div>
	</div>
</body>
</html>