<style>
.boxval{
	width:200px;
	position:absolute;
	left:0px;
	top:30px;
	-moz-box-shadow: 2px 2px 10px #999; /* 老的 Firefox */
	box-shadow: 2px 2px 10px #999;
	padding:5px;
	word-wrap: break-word; 
	word-break: normal;
	display:none; 
}
.lookval{
	cursor:pointer;
}
</style>
<div class="layui-row" style="margin-bottom:10px;">
    <div class="layui-col-md12">
      <form action="/admin/Usermanage/userlist" method="get" id="searchform">
      	<input type="hidden" name="page" id="pagenum" value='1' />
      	<div class="actionbtn">
      		<button type="button" onclick="addAction();" class="layui-btn layui-btn-primary">
			  <i class="layui-icon">&#xe608;</i> 添加
			</button>	
    		
            <button onclick="deleteAll();" type="button" class="layui-btn layui-btn-primary">
            	<i class="layui-icon">&#xe640;</i>删除
            </button>
    		
            <button onclick="testEmail();" type="button" class="layui-btn layui-btn-primary">
            	<i class="layui-icon">&#xe609;</i>测试邮件
            </button>

    	</div>
      	<div class="searchformdiv" >
      		<div style="clear:both;float:right;">
      			<label class="search_lab_css">变量名：</label>
			    <div class="layui-inline">
			      <input type="text" name="name" value="{$Think.get.name}" placeholder="请输入变量名"  class="layui-input">
			    </div>

			    <label class="search_lab_css">状态</label>
			    <div class="layui-inline">
			      <select name="status">
			        <option  value="">请选择</option>
			        <option {eq name="$Think.get.status" value="1"}selected{/eq} value="1">正常</option>
			        <option {eq name="$Think.get.status" value="2"}selected{/eq} value="2">禁用</option>
			      </select>
			    </div>

			    <button class="layui-btn layui-btn-normal">搜索</button>
      		</div>
		 </div>

      </form>
    </div>
</div>
<div style="clear:both;"></div>
<hr class="layui-bg-gray">


<div class="layui-form">
<table class="layui-table" lay-even>
  <thead>
    <tr>
      <th>
      	<div class="laytable-cell-checkbox">
      		<input type="checkbox" lay-skin="primary" lay-filter="allChoose">
      	</div>
      </th>
      <th>ID</th>
      <th>名称</th>
      <th>标识</th>
      <!-- <th width="80">值</th> -->
      <th>状态</th>
      <th width="130px">备注</th>
      <th>创建时间</th>
      <th>是否系统</th>
      <th width="150px">操作</th>
    </tr> 
  </thead>
  <tbody>
    
    {volist name='list' id='vo'}
	    <tr>
	      <td>
	      	<div class="laytable-cell-checkbox">
	      		<input type="checkbox" lay-filter="itemChoose"  name="selectedidstr" lay-skin="primary" value="{$vo.id}" {eq name="$vo.is_sys" value="1"}disabled{/eq} />
	      	</div>
	      </td>
	      <td>{$vo.id}</td>
	      <td>{$vo.name}</td>
	      <td><div style="position:relative;">{$vo.v_code} &emsp;<span onclick="$('.val{$vo.id}').show();event.stopPropagation();" class="lookval">[查看]</span><div class="boxval val{$vo.id}">{$vo.v_value}</div></div></td>
	      <!-- <td>{$vo.v_value}</td> -->
	      <td>
	      	{if condition="$vo.status eq '1'"}
	      	正常
	      	{else /}
	      	禁用
	      	{/if}
	      </td>
	      <td>{$vo.remark}</td>
	      <td>{$vo.create_at}</td>
	      <td>
	      	{if condition="$vo.is_sys eq '1'"}
	      	是
	      	{else /}
	      	否
	      	{/if}
	      </td>
	      <td>
	      {if condition="$vo.is_sys eq '1'"}
	      		<button class="layui-btn layui-btn-disabled" >修改</button>
      			<button  class="layui-btn layui-btn-disabled">删除</button>
	      	{else /}
	      		<button class="layui-btn layui-btn-warm" onclick="editAction({$vo.id})">修改</button>
      			<button onclick="confirmdel({$vo.id})" class="layui-btn layui-btn-danger">删除</button>
	      	{/if}
      		
	      </td>
	    </tr>
	{/volist}
  </tbody>
</table>
</div>

{$page}

<script>
	var layer = '';
	var form = '';
	var editActionbox;
	layui.use(['form','layer'], function(){
  		form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
 		layer = layui.layer;
  		/*layer.open({
		  type: 2, 
		  content: "{:url('admin/Usermanage/edit')}" //不想让iframe出现滚动条，可以content: ['http://sentsin.com', 'no']
		}); */

		form.on('checkbox(allChoose)', function(data){
		    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
		    child.each(function(index, item){
		        item.checked = data.elem.checked;
		    });
		    form.render('checkbox');
		});
		form.on('checkbox(itemChoose)',function(data){
		    var sib = $(data.elem).parents('table').find('tbody input[type="checkbox"]:checked').length;
		    var total = $(data.elem).parents('table').find('tbody input[type="checkbox"]').length;
		    if(sib == total){
		        $(data.elem).parents('table').find('thead input[type="checkbox"]').prop("checked",true);
		        form.render();
		    }else{
		        $(data.elem).parents('table').find('thead input[type="checkbox"]').prop("checked",false);
		        form.render();
		    }
		});

		showSysTips(layer);
	});

	function editAction(uid){
		editActionbox = layer.open({
		  type: 2,
		  title:'编辑',
		  area: ['700px', '500px'], 
		  content: "/admin/Sysmanage/edit/uid/"+uid //不想让iframe出现滚动条，可以content: ['http://sentsin.com', 'no']
		});
	}

	function addAction(){
		editActionbox = layer.open({
		  type: 2,
		  title:'新增',
		  area: ['700px', '500px'], 
		  content: "{:url('admin/Sysmanage/add')}" //不想让iframe出现滚动条，可以content: ['http://sentsin.com', 'no']
		});
	}

	function testEmail(){
		editActionbox = layer.open({
		  type: 2,
		  title:'邮件功能测试',
		  area: ['700px', '500px'], 
		  content: "{:url('admin/Sysmanage/checkEmailFunc')}" //不想让iframe出现滚动条，可以content: ['http://sentsin.com', 'no']
		});
	}

	function closebox(){
		layer.close(editActionbox);
	}
	function reloadpage(){
		window.location.reload();
	}

	function confirmdel(uid){
		layer.confirm(
			'确认要删除吗，删除后数据不可恢复！?', 
			{icon: 3, title:'提示'},
			 function(index){
			 	//确认删除操作
		  		$.ajax({
		  			type:"post",
		  			url:"/admin/Sysmanage/delete",
		  			data:{"idstr":uid},
		  			success:function(){
		  				reloadpage();
		  			},
		  			error:function(){}
		  		});
			},
			function(){
				//取消删除操作
			}
		);
	}

	function deleteAll(){
		layer.confirm(
			'确认要删除吗，删除后数据不可恢复！?', 
			{icon: 3, title:'提示'},
			 function(index){
			 	
			 	var delidstr = '';
			 	$("input:checkbox[name='selectedidstr']:checked").each(function() { // 遍历多选框
					var tmpid =$(this).val(); 
					delidstr += tmpid + ',';
				});

			 	if(delidstr.length > 0){
					delidstr = delidstr.substring(0,delidstr.length-1);
			 	}

			 	if(delidstr == ''){
					//确认删除操作
		  			layer.close(index);
					layer.msg('请先选择用户');
					return false;
			 	}
			 	
				//确认删除操作
		  		layer.close(index);

		  		$.ajax({
		  			type:"post",
		  			url:"/admin/Sysmanage/delete",
		  			data:{"idstr":delidstr},
		  			success:function(){
		  				reloadpage();
		  			},
		  			error:function(){}
		  		});
			},
			function(){
				//取消删除操作
			}
		);
	}

	function showSysTips(layerobj){
		var sysmsg = "{$sysmsg}";
		var syscode = "{$syscode}";
		if(sysmsg != ''){
			if(syscode != '200'){
				layerobj.msg(sysmsg,{icon:2,time:4000});
			}else{
				layerobj.msg(sysmsg,{icon:1,time:4000});
			}
			
		}
	}

	$("body").click(function(){
		$(".boxval").hide();
	});
	

</script>

