<style>
	.level1{
		    background-color: rgba(103, 58, 183, 0.48);
	}
	.level2{
		    background-color: rgba(255, 152, 0, 0.32);
	}
	.level3{
		background-color: rgba(255, 87, 34, 0.48);
	}

</style>

<div class="layui-row" style="margin-bottom:10px;">
    <div class="layui-col-md12">
      <form action="/admin/Usermanage/userlist" method="get" id="searchform">
      	<input type="hidden" name="page" id="pagenum" value='1' />
      	<div class="actionbtn">
      		<button type="button" onclick="addDataAction();" class="layui-btn layui-btn-primary">
			  <i class="layui-icon">&#xe608;</i> 添加
			</button>	
    		
            <button onclick="deleteAll();" type="button" class="layui-btn layui-btn-primary">
            	<i class="layui-icon">&#xe640;</i>删除
            </button>
    	</div>
      	<div class="searchformdiv" >
      		<!-- <div style="clear:both;float:right;">
      			<label class="search_lab_css">账号：</label>
      					    <div class="layui-inline">
      					      <input type="text" name="account" value="{$Think.get.account}" placeholder="请输入账号"  class="layui-input">
      					    </div>
      		
      					    <label class="search_lab_css">状态</label>
      					    <div class="layui-inline">
      					      <select name="status">
      					        <option  value="">请选择</option>
      					        <option {eq name="$Think.get.status" value="1"}selected{/eq} value="1">正常</option>
      					        <option {eq name="$Think.get.status" value="2"}selected{/eq} value="2">禁用</option>
      					      </select>
      					    </div>
      		
      					    <button class="layui-btn layui-btn-normal">搜索</button>
      		</div> -->
		 </div>

      </form>
    </div>
</div>
<div style="clear:both;"></div>
<hr class="layui-bg-gray">


<div class="layui-form">
<table class="layui-table">
  <thead>
    <tr>
      <th>
      	<div class="laytable-cell-checkbox">
      		<input type="checkbox" lay-skin="primary" lay-filter="allChoose">
      	</div>
      </th>
      <!-- <th>节点ID</th> -->
      <th>菜单名称</th>
      <th>模块名</th>
      <th>控制器名</th>
      <th>方法名</th>
      <th>是否显示</th>
      <th>状态</th>
      <!-- <th>菜单等级</th> -->
      <!-- <th>创建时间</th> -->
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
    
    {volist name='list' id='vo'}
	    <tr class="level{$vo.gradenum}">
	      <td>
	      	<div class="laytable-cell-checkbox">
	      		<input type="checkbox" lay-filter="itemChoose"  name="selectedidstr" lay-skin="primary" value="{$vo.id}" />
	      	</div>
	      </td>
	      <!-- <td>{$vo.id}</td> -->
	      <td>|
	      	{for start="1" end="$vo.gradenum"}
			--
			{/for}
	      	{$vo.name}
	      </td>
	      <td>{$vo.module_name}</td>
	      <td>{$vo.control_name}</td>
	      <td>{$vo.method_name}</td>
	      <td>
	      	{if condition="$vo.is_show eq '1'"}
	      	显示
	      	{else /}
	      	隐藏
	      	{/if}
	      </td>
	      <td>
	      	{if condition="$vo.menues_status eq '1'"}
	      	正常
	      	{else /}
	      	禁用
	      	{/if}
	      </td>
	      <!-- <td>{$vo.gradenum}</td> -->
	      <!-- <td>{$vo.create_at}</td> -->
	      <td>
	      	<button class="layui-btn layui-btn-warm" onclick="editDataAction({$vo.id})">修改</button>
	      	<button onclick="confirmdel({$vo.id})" class="layui-btn layui-btn-danger">删除</button>
	      </td>
	    </tr>
	{/volist}
  </tbody>
</table>
</div>


<script>
	var layer = '';
	var form = '';
	var edituserbox;
	layui.use(['form','layer'], function(){
  		form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
 		layer = layui.layer;
  		/*layer.open({
		  type: 2, 
		  content: "{:url('admin/Usermanage/edit')}" //不想让iframe出现滚动条，可以content: ['http://sentsin.com', 'no']
		}); */

		form.on('checkbox(allChoose)', function(data){
		    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
		    child.each(function(index, item){
		        item.checked = data.elem.checked;
		    });
		    form.render('checkbox');
		});
		form.on('checkbox(itemChoose)',function(data){
		    var sib = $(data.elem).parents('table').find('tbody input[type="checkbox"]:checked').length;
		    var total = $(data.elem).parents('table').find('tbody input[type="checkbox"]').length;
		    if(sib == total){
		        $(data.elem).parents('table').find('thead input[type="checkbox"]').prop("checked",true);
		        form.render();
		    }else{
		        $(data.elem).parents('table').find('thead input[type="checkbox"]').prop("checked",false);
		        form.render();
		    }
		});

		showSysTips(layer);
	});

	function editDataAction(uid){
		edituserbox = layer.open({
		  type: 2,
		  title:'节点编辑',
		  area: ['700px', '500px'], 
		  content: "/admin/Powermanage/edit/eid/"+uid //不想让iframe出现滚动条，可以content: ['http://sentsin.com', 'no']
		});
	}

	function addDataAction(){
		edituserbox = layer.open({
		  type: 2,
		  title:'节点新增',
		  area: ['700px', '500px'], 
		  content: "{:url('admin/Powermanage/add')}" //不想让iframe出现滚动条，可以content: ['http://sentsin.com', 'no']
		});
	}

	function closebox(){
		layer.close(edituserbox);
	}
	function reloadpage(){
		window.location.reload();
	}

	function confirmdel(dataid){
		layer.confirm(
			'确认要删除吗，删除后数据不可恢复！?', 
			{icon: 3, title:'提示'},
			 function(index){
			 	//确认删除操作
		  		layer.close(index);
		  		$.ajax({
		  			type:"post",
		  			url:"/admin/Powermanage/delete",
		  			data:{"idstr":dataid},
		  			success:function(){
		  				reloadpage();
		  			},
		  			error:function(){}
		  		});
			},
			function(){
				//取消删除操作
			}
		);
	}

	function deleteAll(){
		layer.confirm(
			'确认要删除吗，删除后数据不可恢复！?', 
			{icon: 3, title:'提示'},
			 function(index){
			 	
			 	var delidstr = '';
			 	$("input:checkbox[name='selectedidstr']:checked").each(function() { // 遍历多选框
					var tmpid =$(this).val(); 
					delidstr += tmpid + ',';
				});


			 	if(delidstr.length > 0){
					delidstr = delidstr.substring(0,delidstr.length-1);
			 	}

			 	if(delidstr == ''){
					//确认删除操作
		  			layer.close(index);
					layer.msg('请先选择');
					return false;
			 	}
			 	
				//确认删除操作
		  		layer.close(index);

		  		$.ajax({
		  			type:"post",
		  			url:"/admin/Powermanage/delete",
		  			data:{"idstr":delidstr},
		  			success:function(){
		  				reloadpage();
		  			},
		  			error:function(){}
		  		});
			},
			function(){
				//取消删除操作
			}
		);
	}

	function showSysTips(layerobj){
		var sysmsg = "{$sysmsg}";
		var syscode = "{$syscode}";
		if(sysmsg != ''){
			if(syscode != '200'){
				layerobj.msg(sysmsg,{icon:2,time:4000});
			}else{
				layerobj.msg(sysmsg,{icon:1,time:4000});
			}
			
		}
	}
	

</script>

